.jumbotron {
  background-color: lightcyan;
}

.mediumFont {
  font-size: 19px;
}

body {
  background-color: LightBlue;
}

.panel > .panel-heading {
  Background-color: lightcyan;
}

.panel > .panel-body {
  background-color: lightcyan;
}

.wwu {
  float: right;
}

.epicodus {
  float: right;
}

.textFont {
  font-size: 19px;
}
